# ignore these files
.env
myenv
practice.py
plot.ipynb
train_xgboost.ipynb
previous_code.py

data/ppg_maps.npz
data/split

backend/__pycache__
data/
*.keras
*.pkl
*.npz
*.pth
*.db
__pycache__/
mlruns/
*.ipynb
processing.log
training_history.png
cnn_model.keras
svm_model.pkl